body {
    background: rgb(239, 252, 255);
}
h1{
    position: relative;
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: solid 3px #000000;
    padding: 0.5em;
    border-radius: 0.5em;
}
h2 {
    position: relative;
    color: #000000;
    background: linear-gradient(to left,#a4f6ff,rgb(228, 254, 255));
    box-shadow: 0px 0px 0px 5px #87cefa;
    padding: 0.2em 0.5em;
}